.titre{
width:100% ;
height:50px ;
box-shadow:8px 8px 5px #737373 ;
border-radius:0 0 10px 10px ;
background-color:#EBB3B3 ;
margin-bottom: 40px ;
}
.titre h1{
color:white; 
}
.cadre {
width:600px ;
height:1200px ;
margin:0 auto ;
background-color:#001076 ;
border-radius: 20px ;
box-shadow:8px 8px 5px 3px #737373 ;
}
.tab1 tr td {
border: 3px solid black ;
height:40 ;
color: green ;
font-size:20px ;
text-align:center ;
}
.footer{
width:100% ;
box-shadow:8px 8px 8px #737373 ;
height: 60px;
background-color: #1995dc ;
position: fixed;
bottom : 20px ;
}
.footer h3{
color:white ;
}

.contact {
width : 200px ;
height : 30px ;
margin-left : 200px ;
color : white ;

}
body {
background-image:url("images/image.png") ;
}
.movies{
    margin-top: 50px;
    
}
.url{
    margin-top: 20px;
    
}
.navbar{
 
margin: 0 auto ;
color : white ; ;
}
.navbar h2 {
color : white ;
}
.recherche {
height : 20px ;
color : white ; 
position: absolute ;
top:90px;
right:10px;
margin-right : 50px ;

}
.recherche li {
width : 80px ;
height : 10px ;
display : inline ;
}
.menu {
position : fixed ;
left : 0px  ;
border-top-right-radius : 20px ;
border-bottom-right-radius : 20px ;
width : 150px ;
height : 720px ;
background-color: #1995dc ;
color : white ;
}
.menu li{
    list-style-type:none;
    margin : 10px 0px ;
}
.menu li:before{
  /* content: "\A4 \ "; caractère ISO 10646 */
    
}
.men{
 position :absolute ;
 display : list-item ;
 padding-top  : 30px ;
 margin : 0 auto ;    
}
